{% extends "layout.html" %} 
{% block title %} Chai {% endblock %} 

{% block content %}
<style>
  .blogs-card {
    max-width: 768px;
    margin: 0 auto;
  }
</style>
<h2 class="heading__sub">Jinja2 Template Engine Continued here</h2>
<div class="blogs-grid">
  <div class="blogs-card">
      <div class="text">
          <h3 class="blogs-card__heading">Jinja2</h3>
          <p class="blogs-card__content">Default Template Engine - DTL is known as jinja2. It has some japanese them and it reduces your work of repeating everytime code</p>
      </div>
  </div>

  <div class="blogs-card">
      <div class="text">
          <h3 class="blogs-card__heading">Versitle</h3>
          <p class="blogs-card__content">Jinja seems very versitle to me, It is somewhat similar to ejs and html that I use to work with before so it's very neat experience with Jinja2</p>
      </div>
  </div>

  
</div>

{% endblock %}