{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      default value
    {% endblock %}
  </title>
  <link rel="shortcut icon" href="{% static 'favicon.ico'%}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'styles.css'%}"></link>
  {% tailwind_css %}
</head>
<body>
  <img src="{%static 'images/chaicode-logo.webp' %}" alt="Chai aur Code" class="logo">
  <h1 class="heading text-3xl my-4">
    <span class="heading-chai">Chai</span>
    <span class="font-sans">aur</span>
    <span class="font-mono">Django</span></h1>
  <ul class="border-b-0 mx-auto my-10">
    <li>
      <a href="/" class="buttons">Home</a>
    </li>

    <li>
      <a href="/blogs/" class="buttons">Blogs</a>
    </li>

    <li>
      <a href="/chai/" class="buttons">Chai</a>
    </li>
  </ul>
  {% block content %}
    
  {% endblock %}
</body>
</html>